.app {
    padding: 2em 1.5em;
}

.app__title {
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 2.5rem;
}

.form {
    display: flex;
    justify-content: center;
    height: 1.6em;
    margin-bottom: 2.5em;
}

.form__input {
    position: relative;
    width: 15px;
    height: 1.7em;
    border-radius: 0.5em 0 0 0.5em;
    padding: 10px;
    background-color: transparent;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(113, 167, 33);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
    /* width: 100%;
    max-width: 200px;
    padding-left: 1em;
    border-radius: 0.5em 0 0 0.5em; */
}

.form__input:hover {
    border: 1px solid rgb(113, 167, 33);
}

.form__input:focus {
    width: 200px;
    cursor: text;
    padding-left: 40px;
    color: white;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(113, 167, 33);
    background-image: url(icons/search.svg) no-repeat;
    background-size: 22px;
    background-position: 10px 50%;
}

.form__btn {
    width: 80px;
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgb(113, 167, 33);
    color: white;
    font-weight: 500;
    transition: font-weigth 100ms ease, filter 100ms ease;
    cursor: pointer;
}

.form__btn:hover {
    font-weight: 700;
    filter: brightness(1.1);
}

.app__error {
    text-align: center;
    line-height: 1.8;
    font-weight: 400;
}

.residents__container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
